@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@100;200;800&family=Kumbh+Sans:wght@100;400;700&family=Manrope:wght@800&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,800;1,400;1,700&family=Roboto:wght@100;700;900&family=Rubik:wght@300;400;500&family=Space+Mono:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.page{
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container{
    width: 60%;
    height: 60%;
    background-color: hsl(189, 41%, 97%);
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.bill-details{
    width: 49%;
    height: 90%;
}

.tip-details{
    width: 49%;
    height: 90%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}

#bill{
    width: 100%;
    background-color: hsl(185, 41%, 92%);
    border: none;
    padding: 3px;
    margin-top: 5px;
}
#people{
    width: 100%;
    background-color: hsl(185, 41%, 92%);
    border: none;
    padding: 3px;
    margin-top: 5px;
}

.bill-details{
    color: hsl(186, 14%, 43%);
    font-size: 0.8em;
}

.select-tips{
    margin-top: 25px;
}

.select-tips button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    cursor: pointer;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    row-gap: 20px;
    margin-bottom: 30px;
}

input[type = "text"]::placeholder{
    text-align: right;
    color: hsl(186, 14%, 43%);
    font-size: 1.2em;
}

input[type = "text"]{
    text-align: right;
}

.inp-1{
    position: relative;
}
.inp-1 img{
    position: absolute;
    top: 10px;
    left: 15px;
}
.inp-2{
    position: relative;
}
.inp-2 img{
    position: absolute;
    top: 10px;
    left: 15px;
}

#custom{
    width: 100px;
    background-color: hsl(185, 41%, 90%);
    color: hsl(186, 14%, 43%);
    border: none;
    text-align: center;
    border-radius: 3px;
}

#custom::placeholder{
    text-align: center;
}

/* .btns button:hover{
    background-color: hsl(185, 41%, 80%);
    color: hsl(183, 100%, 15%);
} */

.tip-amount{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.total{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
}

.small-text{
    color: hsl(185, 41%, 84%);
    font-size: 0.85em;
}

.small-text span{
    display: block;
    color: hsl(186, 14%, 43%);
    font-size: 0.9em;
}

.big-text{
    font-size: 2em;
    color: hsl(172, 67%, 45%);
}

.people-err, .bill-err{
   margin-left: 100px;
   color: red;
   display: none;
}

.bill-err{
    margin-left: 195px;
}

.select-tips .selected{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
@media screen and (max-width: 500px){
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .bill-details{
        width: 95%;
        height: auto;
        font-size: 1em;
    }
    
    .tip-details{
        width: 95%;
        height: auto;
    }

    .select-tips button{
        width: 150px;
        height: 45px;
        font-size: 1em;
    }

    #custom{
        width: 150px;
        height: 45px;
    }

    .tip-details{
        margin-top: 30px;
        padding: 20px;
    }

    #bill, #people{
        padding: 10px;
    }

    .inp-1 img, .inp-2 img{
        top: 15px;
    }

    .err-msg{
        margin-left: 50px;
     }

}